header {
    margin-top: 150px;
}
#navegacion {
    float:right;
}
#imgportada{
    width: 100%;
    margin-top:-20px;
}
#logo{
    width: 100px;
    margin-right: 40px;
    margin-top: 30px;
}
.texto-lado{
    margin-left: 200px;
    margin-top: -100px;
}
#titulo_centro {
    border-style: solid;
    border-color: black;
    margin-top:  -4px;
    text-align: center;
}
#navegacion>a{
    text-decoration: none;
    background-color: blue;
    border-style: solid;
    float: right;
    margin: 15px;
    padding:5px 15px 5px 5px;
    margin-top:-30px;
    box-shadow: 5px 7px #000000;
    position: relative;
    font-family: 'Chivo', sans-serif;
}

#navegacion>a:link {
    color: black;
    }
#navegacion>a:visited {
    color: white;
    border-color: black;
    }
#navegacion>a:hover {
    color:white;
    background-color: greenyellow;
    }
#navegacion>a:active {
    color: aqua;
    background-color: navy;
    }
h1{
    font-family: 'Chivo', sans-serif;
}
p{
    font-family: 'Chivo', sans-serif;
}
pre{
    font-family: 'Chivo', sans-serif;
} 
.personalizada{
    list-style-type: lower-latin;
}
.personalizada2{
    list-style-type: square;
}
.personalizada3{
    list-style-type: circle;
}
body{
    font-family: 'Chivo', sans-serif;
}
#section{
    margin-right: 200px;
    margin-bottom: 110px;
}
table{
    border: black 1px solid;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 40px
}
table tr{
    border: black 1px solid;
}
table td{
    border: black 1px solid;
}
table th{
    border: black 1px solid;
}
#especificaciones{
    font-size: none !important;
}
.mail2{
    color: black;
}
th{
    font-style: oblique;
}
.mapass{
    display: flex;
    width: 1200px;
    height: 1100px;
    flex-flow: wrap;
    flex-direction: column;
}
.school{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: 500px;
    height: 100px;
}
.stiloschool{
    display: flex;
    width: 50%;
    height: 33%;
}
.puesto{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: 400px;
    height: 70px;
}
.estilopuesto{
    display: flex;
    width: 50%;
    height: 50%;
}
.uniforme{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: 400px;
    height: 150px;
}
.estilouniforme{
    display: flex;
    width: 50%;
    height: 25%;
}
.nameap{
    display: flex;
}
.apj{
    display: flex;
}
#header{
    display: flex;
    flex-flow: column;
    width: 1000px;
    height: 150px;
    
}
.apj{
    height:20%;
    align-items: baseline;
    justify-items: baseline;
}
#apj input{
    width: 300px;
}
#nj input{
    width: 300px;
}
#nj{
    margin-right: 20px;
}
#domicilioo input{
    width: 780px;
}
#lugar input{
    width: 330px;
}
#codigo input{
    width: 330px;
}
#lugar{
    margin-right:20px ;
}
#date{
    margin-right: 20px;
}
#niva{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}
#sex{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}
input[type=text] {
    background-color: azure;
    border-radius: 5px;
}
.footer p{
    width: 900px;
    text-align: justify;
}
#confirmacion{
display:flex;
width: 1000px;
height: 25px;
}
#representante{
display: flex;
width: 600px;
}
#fregistro{
display: flex;
width: 350px;
}
#representante input{
    width: 429px;
    margin-right:20px;
}
#fregistro input{
    width: 200px;
}
#representante label{
    width: 150px;
}
input [tipe=checkbox] {
    border-radius: 5px;
}